@charset "UTF-8";
/* CSS Document */

.links{
    font-family: 'muli';
    color: deeppink;
    font-size: 20px;
    padding: 10px;
}

.links:hover{
    color: darkblue
}

.header{
    color: black;
    font-family: "abril-fatface";
    font-weight: 900;
    padding-top: 40px;
    font-size: 60px
}



